{% extends 'base.html.twig' %}

{% block title %}NASA :: Image du jour{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Image du jour</div>
                    {% if picture is not null %}
                        <div class="card-body">
                            <p>Voici l'image du jour de la NASA : {{ picture.date|date('d-m-Y') }}</p>
                            <img src="{{ picture.url }}" alt="{{ picture.title }}" class="img-fluid">
                        </div>
                        <div class="card-footer">
                            <p>{{ picture.explanation }}</p>
                        </div>
                    {% else %}
                        <div class="card-body">
                            <p>Aucune image pour le moment revenez demain pour une nouvelle image.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
